// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    background-color: #fcfcfc;
}
h1, h2, h3, h4, h5, h6, .site-title {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.katex-display {
    display: block;
    margin: 1em 0;
    text-align: center;
    overflow: scroll;
}
